a {
    text-decoration: none;
    color: #7F8177;
}

html, input {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
}

input {
    height: 60px;
    margin-right: 1em;
}

.button {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: inherit;
    height: 60px;
    padding: 0 40px;
    margin-top: 2em;
    background-color: cornflowerblue;
    color: white;
    line-height: 55px;
}

.error-message {
    background-color: #FAE5E1;
    display: table;
}